/* body part  */

body {
    margin: 0rem;
    padding: 0rem;
	background: #ffe5c7;
    font-size: 20px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	/* border: solid; */
	display: block;
}


.container {
	/* border: solid black; */
	display: block;
    width: 100%;
	margin: 70px 0 0 0;
	box-sizing: border-box;
}

.text-primary {
	color: rgb(245, 7, 47);
}

*:before, *:after {
	padding: 0;
	margin: 0;
}