
footer {
	background-color: rgb(15, 51, 92);
	color: #DADFE5;
}

.footer-top .container-footer{
	padding-block: 60px;
	display: flex;
	gap: 24px;
}
.container-footer{
	justify-content: space-between;
	flex-direction: row
}

.footer-text {margin-block: 16px;
justify-content: center;}

.footer-brand {
    display: flex;
}

.footer-list-title{
	margin-block-end: 16px;
}
.footer-list {
	display: grid;
	gap: 16px;
}

.footer-link{
	transition: 200ms cubic-bezier(0, 0.7, 0.3, 1);
}
.footer-link:where(:hover, :focus-visible) {
	color: var(--first-color-alt);
}

.Social-list{
	display: flex;
	gap: 16px;
}
.footer-bottom{
	border-block-start: 1px solid #DADFE5;
}
.footer-bottom .container-footer{
	padding-block: 20px;
	display: grid;
	justify-content: center;
}

.footer-nav {
    display: flex;
    flex-direction: column;
}

@media (max-width: 900px) {
    .footer-top .container-footer {
        flex-direction: column;
    }
    .footer-nav {
        margin-top: 20px; /* Adjust as needed */
    }
}