/* Header.css */
.header{
	border-bottom: solid rgb(215,68,59);
	top: 0px;
	z-index: 9;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0;
	/* border-right: solid black; */
	box-sizing: border-box;
	background-color: white;
	font-family: "Fira Sans", sans-serif;
}

.active-link{
	color: var(--first-color-alt)
	
}
.nav_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}

.nav{
	position: relative;
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.logo {
	margin-right: 5%;
	margin-left: 0rem;
	/* background-image: url('/static/img/logo.png'); */
	background-repeat: no-repeat;
	background-position: left;
	background-size: 4.2rem;
	float: left;
	width: 10rem;
	height: 70px;
	cursor: pointer;
	background-color: rgb(215,68,59);
	transition: background-color;
	/* border: none; */
}



.logo:hover {
	background-color: var(--first-color-alt)
}


.blur-header ::after{

	position: absolute;
	width: 1000%;
	height: 100%;
	background-color: #fff9c7;
	backdrop-filter: blur(26%);
	-webkit-backdrop-filter: blur(16px);
	top: 0;
	left: 0;
	z-index: 1;
	border-bottom-color: #fff9c7 
}

.nav_item a:hover{
	color: var(--first-color-alt);
}
.login_item a:hover{
	color: var(--first-color-alt);
}

.logo a {
	display: inline-block;
	box-sizing: border-box;
	margin-top: 12px;
	margin-left: 25px;
	text-align: center;
	font-size: 32px;
	font-family: "Roboto",sans-serif;
	color: white;
}

.nav__close, .nav__toggle{
	position: absolute;
	top: 1rem;
	/* display: none; */
	right: 1.5rem;
	z-index: 11;
}

@media screen and (min-width: 1000px) {

	.nav__toggle {
		display: none;
	}
	
	.nav__list{
		display: flex;
		flex-direction: row;
		row-gap: 2.5rem;
		margin-right: 2rem;
	}
	
	.nav__list li {
		margin-right: 2.5rem;
	}

	
}

.authentication__list{
	display: flex;
	flex-direction: row;
	row-gap: 2.5rem;
	margin-right: 2rem;
}
.authentication__list li {
	margin-right: 2.5rem;
}




@media screen and (max-width: 1000px){
	.panel{
		position: fixed;
		top: 0;
		right: -100%;
		backdrop-filter: blur(16px);
		background-color: #fff9c7;
		-webkit-backdrop-filter: blur(16px); 
		width: 60%;
		height: 100%;
		padding: 6rem 3rem 0;
		z-index: 10;
		transition: right .4s ease;
	}

	.nav__toggle,.nav__close{
		font-size: 1.5rem;
		cursor: pointer;
	}
	
	.nav__toggle:hover{
		color: var(--first-color-alt);
	}
	.nav__close:hover{
		color: var(--first-color-alt);
	}

	
	.nav__list{
		display: flex;
		flex-direction: column;
		row-gap: 2.5rem;
	}
	
}


.nav_authentication li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
}


.nav__list li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
}

.login_item, .nav_item{
	transition: color .4s;
}

/* Show and hide the panel */
.show-panel{
	right: 0;
}