

.register_page {
	display: flex;
	align-items: stretch;
}

.side_registraion {
	width: 100%;
	box-sizing: border-box;
	height: 48rem;
	background-image: url('/static/img/register.png');
	/* background-size: 100%, 100%; */
	filter: opacity(1);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 60px;
}

.register {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-left: 3rem;
	justify-content: center;
	/* align-items: center; */
}

.register_logo {
	width: 10rem;
	box-sizing: border-box;
	align-self: center;
	height: 4rem;
	background-image: url('/static/img/shipit.jpg');
	/* background-size: 100%, 100%; */
	filter: opacity(1);
	background-repeat: no-repeat;
	background-size: 150%;
	background-position: center center;
	margin-bottom: 2rem;
	margin-right: 60px;
}

.info {
	display: flex;
	align-items: stretch;
	/* justify-content: space-between; */
}

.personal_info, .auth_info {
	display: flex;
	flex-direction: column;
	margin: 0 2rem 0 0;
}

label {
	font-size: 16px;
	margin: 5px 0 5px 0;
}

input {
	width: 15rem;
	height: 2rem;
	border: solid #D7443B;
	border-radius: 8px;
	margin: 8px 0;
	font-size: 17px;
	font-family: "Fira Sans", sans-serif;
}

select {
	width: 250px;
	height: 36px;
	border: solid #D7443B;
	border-radius: 8px;
	margin: 0px 0 5px 0;
	font-size: 17px;
	font-family: "Fira Sans", sans-serif;
}

label {
	font-size: 17px;
	font-family: "Fira Sans", sans-serif;
}

input:focus, select:focus {
	border: solid #D7443B;
	border-radius: 8px;
	outline: none;
}

::placeholder {
	color: #2D061A;
	opacity: 1; /* Firefox */
	font-size: 17px;
	font-family: "Fira Sans", sans-serif;
}

.signup {
	margin-top: 2rem;
}

.title {
	margin-bottom: 2rem;
}

.submit_b {
	/* clear: both; */
	/* display: block; */
	border: solid #D7443B;
	height: 40px;
	/* margin: 0px 15rem 5px 5px; */
	/* float: right; */
	padding: 6px 18px;
	border-radius: 5px;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
	width: 15.5rem;
	background-color: #D7443B;
	color: white;
	border: 2px solid #D7443B;
}

.submit_b:hover {
	background-color: #D7443B;
	color: white;
	border: 2px solid #D7443B;
}

input[type="date"] {
	color: #2D061A;
	font-size: 16px;
}