.logo {
	display: inline-block;
	width: 4.2rem;
	margin-right: 10%;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-position: left;
	background-size: 4.2rem;
	height: 4.2rem;
	float: left;
}

.nav_bar {
	display: inline-block;
	margin: 15px 0px;

}
.nav_item {
	display: inline-block;
	margin: 10px 5px;
}
.login {
	float: right;
	margin-right: 2%;
}
