{% extends "layout.html" %}
{% block css %}
<link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet" type="text/css">
{% endblock css %}

{% block content %}

    <section class="slider" id="slider active-link">
        <div class="over_slide">
            <div class="over_info">
                <h5>Transport &amp; Logistics Solution</h5>
                <h1>#1 Place For Your <span class="text-primary">Logistics</span> Solution</h1>
                <p>Experience the convenience and peace of mind that comes with choosing ShipIt Your satisfaction is our priority!</p>
            </div>
            <div class="list_nav"></div>
            </div>
    </section>
    <section class="sec" id="sec active-link">
        <div class="s1p1"></div>
        <div class="s1p2">
            <h6>ABOUT US</h6>
            <h1>Quick Transport and Logistics Solutions</h1>
            <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
            <div class="p2a1">
                <div class="a1b1">
                    <div class="p2a1_png a1b1_png"></div>
                    <h5>Global Coverage</h5>
                    <p>Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam justo.</p>
                </div>
                <div class="a1b2">
                    <div class="p2a1_png a1b2_png"></div>
                    <h5>Global Coverage</h5>
                    <p>Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam justo.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="achivement" id="achivement active-link">
        <div class="over_slide">
            <h1>Some Facts</h1>
            <div class="Shippement" id="Shippement">
                <h4>Complete Shippements</h4>
                <div class="achivement_shippement">

                </div>
            </div>
            <div class="Clients" id="clients">
                <h4>Our clients</h4>
                <div class="achivement_clients">

                </div>
            </div>
        </div>

    </section>
    <section class="service-container" id="service-container active-link s1p2">
        <h1>Our services</h1>
        <div class="services">
            <div class="stand_ship">
                <h5>Standard Shipping</h5>
                <img src="../static/img/same-day.jpg" width=450 alt="same-day">
                <P>Our standard shipping service is perfect for those who prioritize cost-effectiveness and are flexible with delivery times. With ShipIt's standard shipping, your packages are handled with care and delivered efficiently to their destination.</P>
                <a href="#learn-more">Learn More</a>
            </div>
            <div class="express_delivery">
                <h5>Express Delivery</h5>
                <img src="../static/img/same-day.jpg" width=450 alt="same-day">
                <p>Need your package delivered quickly? Our express delivery service ensures that your items reach their destination in the shortest possible time. Whether it's across town or across the country, ShipIt's express delivery gets it there fast and reliably.</p>
                <a href="#learn-more">Learn More</a>
            </div>
            <div class="same_day_ship">
                <h5>Same Day Delivery</h5>
                <img src="../static/img/same-day.jpg" width=450 alt="same-day">
                <p>Urgency is our specialty! ShipIt's same-day delivery service guarantees lightning-fast delivery for those time-sensitive shipments. Whether it's a last-minute gift or an urgent business document, we'll ensure it gets there on time, every time.</p>
                <a href="#learn-more">Learn More</a>
            </div>
        </div>
    </section>
{% endblock %}
