{% extends "layout.html" %}
{% block css %}
<link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet" type="text/css">
{% endblock css %}

{% block content %}

    <div class="slider">
        <div class="over_slide">
            <div class="over_info">
                <h5>Transport &amp; Logistics Solution</h5>
                <h1>#1 Place For Your <span class="text-primary">Logistics</span> Solution</h1>
                <p>Experience the convenience and peace of mind that comes with choosing ShipIt Your satisfaction is our priority!</p>
            </div>
            <div class="list_nav"></div>
            </div>
    </div>
    <div class="sec">
        <div class="s1p1"></div>
        <div class="s1p2">
            <h6>ABOUT US</h6>
            <h1>Quick Transport and Logistics Solutions</h1>
            <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
            <div class="p2a1">
                <div class="a1b1">
                    <div class="p2a1_png a1b1_png"></div>
                    <h5>Global Coverage</h5>
                    <p>Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam justo.</p>
                </div>
                <div class="a1b2">
                    <div class="p2a1_png a1b2_png"></div>
                    <h5>Global Coverage</h5>
                    <p>Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam justo.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
