<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>index.html</title>
<link href="{{ url_for('static', filename='css/body.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/footer.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/header.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet" type="text/css">
{% block css %}{% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<!-- layoute contain the header and the footer
Use : inside the body add the :
<div class="container">
</div> everything should be inside this main container  -->
<body>
	<header>
		<div class="logo"><a href="{{ url_for('home') }}">ShipIt</a></div>
		<div class="panel">
			<div class="login_item"><a href="{{ url_for('home') }}">Home</a></div>
			<div class="login_item"><a href="{{ url_for('home') }}">Services</a></div>
			<div class="login_item"><a href="{{ url_for('home') }}">Pricing</a></div>
			<div class="login_item"><a href="{{ url_for('home') }}">About Us</a></div>

		</div>
		<div class="login">
			{% if current_user.is_authenticated %}
				<div class="login_item"><a href="{{ url_for('account') }}">Account</a></div>
				<div class="login_item"><a href="{{ url_for('logout') }}">Log out</a></div>
			{% else %}
				<div class="login_item"><a href="{{ url_for('login') }}">Login</a></div>
				<div class="login_item"><a href="{{ url_for('register') }}">Regiser</a></div>
			{% endif %}
		</div>
	</header>
	<div class="container">
		{% block content %}
		{% endblock %}
	</div>
	<footer>In progress</footer>
</body>
<script>
    const profile_panel = document.querySelector('.profile_panel');
    const create_panel = document.querySelector('.create_panel');
    const history_panel = document.querySelector('.history_panel');	
	const people = document.querySelector('.people');
	const create = document.querySelector('.create');
	const history = document.querySelector('.history');

    // Variables to store content
    let profilePanelContent = profile_panel.innerHTML;
    let createPanelContent = create_panel.innerHTML;

	history.addEventListener('click', function () {
		create_panel.style.display = 'none'
		profile_panel.style.display = 'none'
		history_panel.style.display = 'block'
		
	});
    people.addEventListener('click', function () {
        // Clear content in create_panel
		if (create_panel.innerHTML === '') {
		}
		else {
			createPanelContent = create_panel.innerHTML;
			create_panel.innerHTML = '';
		}
		profile_panel.innerHTML = profilePanelContent;
		create_panel.style.display = 'none'
		profile_panel.style.display = 'flex'
		history_panel.style.display = 'none'

    });

    create.addEventListener('click', function () {
        // Clear content in profile_panel
		if (profile_panel.innerHTML === '') {
		}
		else {
			profilePanelContent = profile_panel.innerHTML;
			profile_panel.innerHTML = '';
		}
		create_panel.innerHTML = createPanelContent;
		profile_panel.style.display = 'none'
		create_panel.style.display = 'flex'
		history_panel.style.display = 'none'
    });
	
	document.addEventListener('DOMContentLoaded', function () {
		createPanelContent = create_panel.innerHTML;
		create_panel.innerHTML = '';
	})
</script>
</html>