<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{title}}</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.css">
<link href="{{ url_for('static', filename='css/body.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/footer.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/header.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet" type="text/css">
<link rel="icon" href="{{ url_for('static', filename='img/ShipIt_logo.png') }}" type="image/png">

<link href="{{ url_for('static', filename='css/root_style.css') }}" rel="stylesheet" type="text/css">

<script type="text/javascript" src="{{ url_for('static', filename='scripts/header.js') }}" rel="stylesheet"></script>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

{% block css %}{% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<!-- layoute contain the header and the footer
Use : inside the body add the :
<div class="container">
</div> everything should be inside this main container  -->
<body>
	<header class="header" id="header">
		<nav class="nav_container">
		<div class="logo">
			<a href="{{ url_for('home') }}">
				<img src="../static/img/ShipIt_logo.jpg" width="80" height="80" alt="ShipIt">ShipIt
			</a>
		</div>
		<div class="panel" id="panel">
			<ul class="nav__list">
				<li class="nav_item">
					<a href="{{ url_for('home') }}">Home</a></li>
				<li class="nav_item">
					<a href="{{ url_for('service') }}">Services</a></li>
				<li class="nav_item">
					<a href="{{ url_for('home') }}">Pricing</a></li>
				<li class="nav_item">
					<a href="{{ url_for('about_us') }}">About Us</a></li>
			</ul>
		</div>
		<div class="nav_authentication">
			<ul class="authentication__list">
				{% if current_user.is_authenticated %}
				<li class="login_item">
					{% if current_user.__class__.__name__ == "User" %}
						<a href="{{ url_for('account') }}">Account</a></li>
					{% endif %}
					{% if current_user.__class__.__name__ == "Agent" %}
						<a href="{{ url_for('agent_account') }}">Account</a></li>
					{% endif %}
				<li class="login_item">
					<a href="{{ url_for('logout') }}">Log out</a></li>
			{% else %}
				<li class="login_item">
					<a href="{{ url_for('login') }}">Login</a></li>
				<li class="login_item">
					<a href="{{ url_for('register') }}">Register</a></li>
			{% endif %}
		</ul>
			</div>
		<!-- <div class="login">

		</div> -->
		<!-- Close button -->
		<div class="nav__close" id="nav__close">
			<i class="ri-eye-close-line"></i>
		</div>
		<!-- toggle button -->
		<div class="nav__toggle" id="nav__toggle">
			<i class="ri-menu-line"></i>
		</div>

		

	</nav>
	</header>
	<div class="container">
		{% block content %}
		{% endblock %}
	</div>
	<footer>
		<div class="footer-top">
			<div class="container-footer">
				<div class="footer-brand">
					<a href="/" class="logo_image">
						<img src="../static/img/ShipIt_logo.jpg" width="150" height="150" alt="ShipIt">
					</a>
				</div>

				<nav class="footer-nav" aria-labelledby="nav-label-1">
					<p class="title-small footer-list-title" id="nav-label-1">Quick link</p>
					<ul class="footer-list">
						<li>
							<a href="#" class="body-medium footer-link">Home</a>
						</li>
						<li>
							<a href="#" class="body-medium footer-link">Our pricings</a>
						</li>
						<li>
							<a href="#" class="body-medium footer-link">Our Services</a>
						</li>
						<li>
							<a href="#" class="body-medium footer-link"></a>
						</li>
					</ul>
				</nav>

				<nav class="footer-nav" aria-labelledby="nav-label-2">
					<p class="title-small footer-list-title" id="nav-label-2">Support</p>
					<ul>
						<li>
							<a href="#" class="body-medium footer-link">About Us</a>
						</li>
						<li>
							<a href="/" class="body-medium footer-link">Contact Us</a>
						</li>
						<li>
							<a href="#" class="body-medium footer-link">Privacy Policy</a>
						</li>
						<li>
							<a href="#" class="body-medium footer-link">Term & conditions</a>
						</li>
				</ul>
				</nav>

				<nav class="footer-nav" aria-labelledby="nav-label-3">
					<p class="title-small footer-list-title" id="nav-label-3">Get in Touch</p>
					<ul>
						<li>
							<a href="" class="body-medium footer-link">shipit@gmail.com</a>
						</li>

						<li>
							<address class=" adress body-medium">
								50453 zitoun BV M6 Casablanca
							</address>
						</li>
						<li>
							<ul class="Social-list">
								<li>
									<a href="https://instagram.com" class="social-link" target="_blank">
										<i class="ri-instagram-line" alt="instagram"></i>
									</a>
								</li>
								<li>
									<a href="https://facebook.com" class="social-link" target="_blank">
										<i class="ri-facebook-fill" alt="facebook"></i>
									</a>
								</li>
								<li>
									<a href="https://twitter.com" class="social-link" target="_blank">
										<i class="ri-twitter-x-line" alt="X"></i>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>

			</div>
		</div>
		<div class="footer-bottom">
			<div class="container-footer">
				<p class="copyright body-medium">
					&copy; 2024 ShipIt. All rights reserved.
				</p>
			</div>
		</div>
	</footer>

	<a href="#" class="scrollup" id="scroll-up">
		<i class="ri-arrow-up-double-line"></i>
	</a>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/html2pdf.js/dist/html2pdf.bundle.js"></script>
<script>

</script>
</html>