{% extends "layout.html" %}
{% block css %}
<link href="{{ url_for('static', filename='css/register.css') }}" rel="stylesheet" type="text/css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../static/scripts/register.js"></script>
{% endblock css %}

{% block content %}
	<div class="reg_all">
		<div class="register_page">
			<div class="side_registraion"></div>
			<form class="register", method="post">
				{{ form.hidden_tag() }}
				<div class="register_logo"></div>
				<div class="title">
					<div class="main_title">Create your account</div>
				</div>
				<div class="info">
						<div class="personal_info">
							{{form.full_name(placeholder="Enter your name")}}
							{% if form.full_name.errors %}
								<div class="error"> {{ form.full_name.errors[0] }} </div>
							{% endif %}

							<label for="states">Select Region:</label>
							<select name="states" id="states" required>
								{% for state in states|sort(attribute="name") %}
									<option value={{state.id}}>{{state.name}}</option>
								{% endfor %}
							</select>

							<label for="cities">Select City:</label>
							<select name="cities" id="cities" required>

							</select>

							{{form.address(placeholder="Enter your address")}}
							{% if form.address.errors %}
								<div class="error"> {{ form.address.errors[0] }} </div>
							{% endif %}
		
							{{form.phone(placeholder="Enter your phone")}}
							{% if form.phone.errors %}
								<div class="error"> {{ form.phone.errors[0] }} </div>
							{% endif %}
		
							{{form.postal_code(placeholder="Zip code")}}
							{% if form.postal_code.errors %}
								<div class="error"> {{ form.postal_code.errors[0] }} </div>
							{% endif %}
		
							{{form.birth_date()}}
							{% if form.birth_date.errors %}
								<div class="error"> {{ form.birth_date.errors[0] }} </div>
							{% endif %}
						</div>
						<div class="auth_info">
							{{form.email(placeholder="Enter your email")}}
							{% if form.email.errors %}
								<div class="error"> {{ form.email.errors[0] }} </div>
							{% endif %}
		
							{{form.password(placeholder="Enter your password")}}
							{% if form.password.errors %}
								<div class="error"> {{ form.password.errors[0] }} </div>
							{% endif %}
		
							{{form.confirm_password(placeholder="Confirm your password")}}
							{% if form.confirm_password.errors %}
								<div class="error"> {{ form.confirm_password.errors[0] }} </div>
							{% endif %}
		
						</div>
				</div>
				<div class="signup">
					<input type="submit" value="Register" class="submit_b">
				</div>
			</form>
		</div>
	</div>

{% endblock content %}
