{% extends "layout.html" %}
{% block css %}
<link href="{{ url_for('static', filename='css/reset_token.css') }}" rel="stylesheet" type="text/css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">

{% endblock css %}

{% block content %}

    <div class="container_reset">
        <h2>Reset Password</h2>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset</legend>

                <div class="form-group">
                    {{form.confirm_password(placeholder="Enter your confirm_password")}}
					{% if form.confirm_password.errors %}
						<div class="error"> {{ form.confirm_password.errors[0] }} </div>
					{% endif %}

					{{form.password(placeholder="Enter your password")}}
					{% if form.password.errors %}
						<div class="error"> {{ form.password.errors[0] }} </div>
					{% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                <input type="submit" value="Reset" class="submit_b">
            </div>
        </form>
    </div>

{% endblock content %}